<{include file="public/header.html"}>
<!-- 中间内容 start -->
<div class="page-title">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">   
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">充值記錄</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table -bordered no-margin">
                        <thead>
                          <tr>
                            <th style="width:20%">充值時間</th>
                            <th style="width:15%">會員帳號</th>
                            <th style="width:15%">充值點數</th>
                            <th style="width:15%">扣除點數</th>
                            <th style="width:15%">剩餘點數</th>
                            <th style="width:10%">操作者</th>
                            <th style="width:10%">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <{section loop=$charges name="ls"}>
                              <tr>
                                <td><{$charges[ls].charge_time}></td>
                                <td><{$charges[ls].name}></td>
                                <td><{$charges[ls].add_point}></td>
                                <td><{$charges[ls].minus_point}></td>
                                <td><{$charges[ls].point}></td>
                                <td><{$charges[ls].operator}></td>
                                <td>
                                    <a href="#" class="delete label label-success" data-id="<{$charges[ls].cid}>">刪除</a>
                                </td>
                              </tr>
                          <{/section}>
                        </tbody>
                      </table>
                    </div>
                    <div class="pager">
                      <{$page}>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function($) {
        var siteurl = $(".siteurl").val();
        $(".delete").on("click",function(){
            var me  = this;
            var cid = $(this).attr("data-id");
            $.ajax({
                url: siteurl + "/charge/delete",
                type: 'post',
                dataType: 'json',
                data: {cid: cid},
            })
            .done(function(data) {
                if(data.errNo == 0){
                    $(me).parents("tr").remove();
                }else{
                    alert("服务器异常，请稍后再试~~");
                }
            });  
        });
    });
</script>
<!-- 中间内容 and -->     
<{include file="public/footer.html"}>