<{include file="public/header.html"}>
<!-- 中间内容 start -->
    <div class="page-title">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">   
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">充值</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group charge-form">
                        <label for="inputName" class="control-label ui-label">會員名</label>
                        <input type="email" class="form-control ui-input" id="charge-name" placeholder="會員名">
                        <label for="inputName" class="control-label ui-label">充值點數</label>
                        <input type="email" class="form-control ui-input" id="charge-point" placeholder="充值點數">
                        <input type="button" class="btn btn-success btn-block" id="charge-btn" value="充值"/><span class="charge-error red"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">充值記錄</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table -bordered no-margin">
                        <thead>
                          <tr>
                            <th style="width:20%">充值時間</th>
                            <th style="width:15%">會員帳號</th>
                            <th style="width:15%">充值點數</th>
                            <th style="width:15%">扣除點數</th>
                            <th style="width:15%">剩餘點數</th>
                            <th style="width:10%">操作者</th>
                            <th style="width:10%">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <{section loop=$charges name="ls"}>
                              <tr>
                                <td><{$charges[ls].charge_time}></td>
                                <td><{$charges[ls].name}></td>
                                <td class="add-point"><{$charges[ls].add_point}></td>
                                <td><{$charges[ls].minus_point}></td>
                                <td class="remain-point"><{$charges[ls].point}></td>
                                <td><{$charges[ls].operator}></td>
                                <td>
                                    <a href="#" class="delete label label-success" data-id="<{$charges[ls].cid}>">刪除</a>
                                    <a href="#" style="display:none;" class="save label label-success" data-id="<{$charges[ls].cid}>" data-uid="<{$charges[ls].uid}>">保存</a>
                                </td>
                              </tr>
                          <{/section}>
                        </tbody>
                      </table>
                    </div>
                    <div class="pager">
                      <{$page}>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function($) {
        var siteurl = $(".siteurl").val();
        $(".delete").on("click",function(){
            var me  = this;
            var cid = $(this).attr("data-id");
            $.ajax({
                url: siteurl + "/charge/delete",
                type: 'post',
                dataType: 'json',
                data: {cid: cid},
            })
            .done(function(data) {
                if(data.errNo == 0){
                    $(me).parents("tr").remove();
                }else{
                    alert("服务器异常，请稍后再试~~");
                }
            });  
        });

        $(".add-point").on("click",function(){
            if($(this).children('input').length > 0){
                return;
            }
            var me = this;
            var oldPoint = parseInt($(this).html());
            $(this).html('<input type="text" data-old="'+oldPoint+'" class="add-point-input ui-input" value="'+oldPoint+'"/>');
            $(".save",$(this).parents('tr')).show();
        });
        $(".save").on('click',function(){
            var me = this;
            var cid = $(this).attr('data-id');
            var oldPoint = $(".add-point-input",$(this).parents('tr')).attr('data-old');
            var newPoint = $(".add-point-input",$(this).parents('tr')).val();
            if(!$.isNumeric(newPoint)){
                alert("充值點數必須是數字");
                return;
            }
            $.ajax({
                url: siteurl + "/charge/changePoint",
                type: 'post',
                dataType: 'json',
                data: {cid: cid,oldPoint: oldPoint,newPoint: newPoint},
            })
            .done(function(data) {
                if(data.errNo == 0){
                    $(".add-point",$(me).parents('tr')).html(newPoint);
                    $(".remain-point",$(me).parents('tr')).html(data.remain_point);
                    $(me).hide();
                }else{
                    alert("服務器異常，請稍後重試");
                }
            });  
        });

        $("#charge-btn").on('click',function(){
            var name = $("#charge-name").val() || "";
            var point= $("#charge-point").val() || "";
            if(name == "" || point == ""){
                alert("會員名和充值點數必填");
                return;
            }
            if(!$.isNumeric(point)){
                alert("充值點數必須為數字");
                return;
            }
            $.ajax({
                url: siteurl + "/charge/addPoint",
                type: 'post',
                dataType: 'json',
                data: {name: name,point:parseInt(point)},
            })
            .done(function(data) {
                if(data.errNo == 0){
                    alert("充值成功");
                }else if(data.errNo == 1){
                    alert("會員不存在");
                }
                else{
                    alert("服務器異常，請稍後重試");
                }
            });  
        });
    });
</script>
<!-- 中间内容 and -->     
<{include file="public/footer.html"}>