<{include file="public/header.html"}>
<!-- 中间内容 start -->
    <div class="page-title">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">   
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6">
            <div class="panel panel-default">

                <div class="panel-heading clearfix top-bar">
                    <h3 class="panel-title" style="margin-top:-14px;">會員信息</h3>
                    <div class="custom-search">
                      <input type="text" class="search-query" placeholder="搜索會員">
                      <i class="icon-search"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table -bordered no-margin">
                        <thead>
                          <tr>
                            <th style="width:10%">註冊時間</th>
                            <th style="width:10%">會員名</th>
                            <th style="width:5%">暱稱</th>
                            <th style="width:10%">頭像</th>
                            <th style="width:10%">地區</th>
                            <th style="width:5%">身高</th>
                            <th style="width:10%">會員類型</th>
                            <th style="width:10%">剩餘點數</th>
                            <th style="width:10%">聊天次數限定</th>
                            <th style="width:20%">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <{section loop=$users name="ls"}>
                              <tr>
                                <td><{$users[ls].reg_time}></td>
                                <td><{$users[ls].name}></td>
                                <td><{$users[ls].nick}></td>
                                <!-- <td><a href="<{$users[ls].imgurl}>" target="_blank">查看</a></td> -->
                                <td><img height="35px" width="35px" src="<{$users[ls].imgurl}>"/></td>
                                <td><{$users[ls].area}></td>
                                <td><{$users[ls].height}></td>
                                <td><{$users[ls].type}></td>
                                <td><{$users[ls].point}></td>
                                <td><{$users[ls].chat_time_limit}></td>
                                <td>
                                    <a href="#" class="status label label-success" data-status="<{$users[ls].status}>" data-id="<{$users[ls].uid}>"><{$users[ls].status_info}></a>
                                    <a href="<{$siteurl}>/user/info/uid/<{$users[ls].uid}>" class="view label label-success" data-id="<{$users[ls].uid}>" target="_blank">查看</a>
                                    <a href="#" class="delete label label-success" data-id="<{$users[ls].uid}>">刪除</a>
                                </td>
                              </tr>
                          <{/section}>
                        </tbody>
                      </table>
                    </div>
                    <div class="pager">
                      <{$page}>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function($) {
        var siteurl = $(".siteurl").val();
        $(".delete").on("click",function(){
            var me  = this;
            var uid = $(this).attr("data-id");
            $.ajax({
                url: siteurl + "/user/delete",
                type: 'post',
                dataType: 'json',
                data: {uid: uid},
            })
            .done(function(data) {
                if(data.errNo == 0){
                    $(me).parents("tr").remove();
                }else{
                    alert("服務器異常，請稍後重試");
                }
            });  
        });
        $(".status").on("click",function(){
            var me  = this;
            var uid = $(this).attr("data-id");
            var status = $(this).attr("data-status");
            var info = $(this).html();
            var newStatus = status == 1 ? 0 : 1;
            var newInfo = info == "停用" ? "啟用" : "停用";
            $.ajax({
                url: siteurl + "/user/changeStatus",
                type: 'post',
                dataType: 'json',
                data: {uid: uid,status:newStatus},
            })
            .done(function(data) {
                if(data.errNo == 0){
                    $(me).attr("data-status",newStatus);
                    $(me).html(newInfo);
                }else{
                    alert("服務器異常，請稍後重試");
                }
            });  
        });

        $(".custom-search .icon-search").on("click",function(){
            var query     = $(".custom-search .search-query").val() || "";
            location.href = siteurl + "/user/index/query/" + query;
        });
    });
</script>
<!-- 中间内容 and -->     
<{include file="public/footer.html"}>