<{include file="public/header.html"}>
	<!-- 中间内容 start -->
	<div class="page-title">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
		        
	      	</div>
	      	<div class="col-md-6 col-sm-6 col-xs-6">
	      	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-6 col-xs-6">
	        <div class="panel panel-default">
	        	<div class="panel-heading clearfix">
	        		<h3>會員信息</h3>
	        	</div>
	        	<div class="panel-body">
	        		<div class="ui-form-item">
	        			<label class="ui-label">會員名</label>
	        			<label class="ui-lalel"><{$user.name}></label>
	        			<label class="ui-label">密碼</label>
	        			<label class="ui-lalel"><{$user.pass}></label>
	        		</div>
	        		<div class="ui-form-item">
	        			<label class="ui-label">昵稱</label>
	        			<label class="ui-lalel"><{$user.nick}></label>
	        			<label class="ui-label">郵箱</label>
	        			<label class="ui-lalel"><{$user.email}></label>
	        			<label class="ui-label">會員類型</label>
	        			<label class="ui-lalel"><{$user.type}></label>
	        		</div>
	        		<div class="ui-form-item">
	        			<label class="ui-label">自我简介</label>
	        			<label class="ui-lalel"><{$user.info}></label>
	        		</div>
	        		<div class="ui-form-item">
	        			<label class="ui-label">自我介紹</label>
	        			<label class="ui-lalel"><{$user.introduction}></label>
	        		</div>
	        		<div class="ui-form-item">
	        			<label class="ui-label">剩餘點數</label>
	        			<label class="ui-lalel"><{$user.point}></label>
	        			<label class="ui-label">聊天次數限定</label>
	        			<label class="ui-lalel"><{$user.chat_time_limit}></label>
	        		</div>
	        	</div>
	        	<div class="panel-footer clearfix">
	        	</div>
	        </div>
      	</div>
	</div>
</div>
<!-- 中间内容 and -->     
<{include file="public/footer.html"}>